@{
    ViewData["Title"] = "Yetkisiz Erişim | 401";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
 

    <!-- Basic Bootstrap Table -->
    <div class="card">
        <div class="table-responsive text-nowrap m-5">
            <h1>YETKİSİZ ERİŞİM</h1>
          
            <h4>Bu işlemi gerçekleştirebilecek yetkiniz bulunmamaktadır!</h4>
            <span>Site yöneticisi ile iletişime geçerek yetkinlik sağlayabilirsiniz</span>           
        </div>
    </div>
</div>
