@using OnlineExamProject.Domain.Entities
@model IEnumerable<Grade>
@{
    ViewData["Title"] = "GradeList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="content-wrapper">
    <div class="card" style="margin:30px;">
        <div class="table-responsive text-nowrap">
            <table class="table table-hover">
                <thead class="table-light">
                    <tr>
                        <th>#</th>
                        <th>Kod</th>
                        <th>Sınıf</th>
                        <th>Durum</th>
                        <th class="float-right">İşlemler</th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th>@item.Id</th>
                            <th>@item.Code</th>
                            <td><i class="fab fa-angular fa-lg texts-danger"></i> @item.Name</td>
                            @if (item.Status)
                            {
                                <td><span class="badge bg-label-success me-1">Aktif</span></td>

                            }
                            else
                            {
                                <td><span class="badge bg-label-danger me-1">Pasif</span></td>

                            }
                            <td>
                                <a href="/Admin/Grade/GradeUpdate/@item.Id" class="btn btn-primary btn-sm"><i class="bx bxs-edit"></i></a>
                                <a href="/Admin/Grade/GradeDelete/@item.Id" class="btn btn-danger btn-sm"><i class="bx bx-trash"></i></a>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <br>
        <a href="/Admin/Grade/GradeAdd" style="width:300px" class="btn btn-primary">Sınıf Ekle</a>
    </div>
