@model OnlineExamProject.Domain.Entities.Identity.AppRole
@{
    ViewData["Title"] = "Rol Güncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<div class="card m-3 ">
    <h5 class="card-header">Rol Güncelle</h5>
    <div class="card-body demo-vertical-spacing demo-only-element">
        <form method="post" action="/Admin/Role/UpdateRole/">
            @Html.HiddenFor(x=>x.Id)
            @Html.Label("Rol Adı")
            @Html.TextBoxFor(x=>x.Name,new{@class="form-control"})
            <br />
            <button class="btn btn-primary">Ekle</button>
        </form>
    </div>
</div>




