@using OnlineExamProject.Domain.Entities
@model IQueryable<Exam>
@{
    ViewData["Title"] = "Sorular";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<br />
@foreach (var item in Model)
{

    <div class="card m-2">
        <div class="card-body">
            <h5 class="card-title">@item.Name</h5>
            <p class="card-text">@item.Description Soruları görmek ve soru eklemek için butona tıklayın.</p>
            
            <div class="float-right" style="float:right; vertical-align:center">
                <a href="/Admin/Question/ExamQuestions/@item.Id/" class="btn rounded-pill btn-warning">+ Ekle</a>
                <a href="/Admin/Question/ExamQuestions/@item.Id"  class="btn rounded-pill btn-primary">Listele</a>
            </div>
        </div>
    </div> 
}
<br />