@model OnlineExamProject.Domain.Entities.Question
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Add</h1>
<form method="post" action="/Admin/Test/Add/">
    <button type="submit">bas</button>

</form>

